.cardContainer {
  position: relative;
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  cursor: pointer;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.text {
  justify-content: center;
  align-self: stretch;
  text-align: center;
}

.modalImg {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 2/1;
  margin: 0 auto 16px;
}

.modalTitle {
  text-align: center;
  margin-bottom: 32px;
}

.nutrients {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.nutrientsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  gap: 8px;
}
