.headerContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 88px;
  background: #1c1c21;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.headerNav {
  width: 1400px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
